regions:
- us-west-1
- global

account-blocklist:
- "999999999999" # production


accounts:
  966110654589:  # aws-nuke-example
    filters:
      Route53HostedZone:
      - property: Name
        type: "glob"
        value: "*"
      IAMUser:
      - "scruggs"
      IAMUserPolicyAttachment:
      - "scruggs -> AdministratorAccess"
      IAMUserAccessKey:
      - "scruggs -> AKIA6B4FOWB66RIDMMBH"